
body{
    background-color: #f5f1f5;
    min-height: 1500px;
}
#gifbg{
    background: url("./ezgif.com-optimize.gif");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    display: flex;
}
/* .container {
    
    flex-direction: column;
    align-items: center;
  } */
.welcometext{
    margin: 0 auto;
    color: white;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

form{
    margin: 0 auto;
    align-items: center;
    justify-content: center;


}
.imgs{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 35%;
    align-items: center;
    justify-content: center;


}
.carousel{
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    margin: auto;
}

.screen{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end;
    margin: auto;
}
/* 
.parallax{
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__layer {
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left :0;
}

.parallax__layer--base{
    transform: translateZ(0);
        height: 100vh;

}
 .parallax__layer--back{
     transform: translateZ(-1px);
         height: 100vh;

 } */